/*
** Keyframes
*/
@keyframes scaleUpSmall{
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scaleUpMedium {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

/*
** Mixins
*/
$timing-function: cubic-bezier(0.86, 0.03, 0.09, 0.95);

@mixin animationText($delay, $name) {
  animation: 2s $timing-function $delay 2 both alternate-reverse $name;
}