// Colors
@import "../../assets/sass/variables/colors/colors.scss";
// Keyframes
@import "../../assets/sass/variables/common/common.scss";

.btn {
  background-color: transparent;
  position: relative;
  overflow: hidden;
  border-radius: 0.3rem;

  text-decoration: none;
  @apply text-lg sm:text-xl lg:text-lg xl:text-xl;

  cursor: pointer;
}

.faixa {
  @extend .btn;
  padding: 0.8em 1.2em;

  text-align: center;
  text-transform: uppercase;
  color: white;

  transition: 0.3s;
  z-index: 1;
  opacity: 0;
  @apply shadow-lg;

  animation: show 1.5s forwards 6s;

  &:hover {
    color: white;
    @apply shadow-2xl;
  }

  &::before {
    content: "";
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
    background: $primary-color;
    transition: 0.5s ease;
    display: block;
    z-index: -1;
  }

  &:hover::before {
    width: 105%;
  }

  &:after {
    content: "";
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 2px;
    width: 2rem;
    background-color: $primary-color;
    transition: 0.5s ease;
    animation: animate ease forwards 3s 6.1s;
  }
}

.li {
  @extend .btn;
  padding: 0.4rem 0.8rem;

  color: white;

  &_full {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $primary-color;
      transform: translateX(-100%);
      transition: all 0.3s;
      opacity: 0;
      z-index: -1;
    }

    &:hover {
      color: white;
      @apply shadow-xl;

      &::before {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }

  &_icon {
    border-bottom: 1px solid $primary-color;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      transform: translateY(100%);
      transition: all 0.3s;
      z-index: -1;
    }

    &:hover {
      color: $primary-color;
      border-bottom: 1px solid transparent;
      @apply shadow-2xl font-medium;

      &::before {
        transform: translateY(0);
        background-color: white;
      }
    }
  }
}
