$shadow: rgba(0, 0, 0, 0.151);
$shadow-dark: rgba(0, 0, 0, 0.308);

$primary-color: #da0941;
$primary-color-dark: #a30932;
$primary-color-darker: #a10831d0;

$secondary-color: #041a27;
$white-text: rgba(255, 255, 255, 0.911);

$primary-bg: linear-gradient(70deg, #412130, $primary-color);