// Headings
h1 {
  font-size: 2rem;
  line-height: 1;
  @apply sm:text-4xl lg:text-5xl;
  
  &.section_title {
    font-size: 2.25rem;
    @media (min-width: 1024px) {
      & {
        font-size: 2.5rem;
      }
    }
  }
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}