/*
** Headings
*/
#s_welcome {
  h1 {
    font-size: 2rem;
    line-height: 1;
    @apply sm:text-5xl xl:text-6xl;
  }

  h2 {
    @apply text-2xl sm:text-3xl xl:text-4xl;
  }

  h3 {
    @apply text-xl sm:text-2xl xl:text-3xl;
  }
}

h1 {
  font-size: 2rem;
  line-height: 1;
  @apply sm:text-5xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-2xl;
}

p {
  @apply text-base lg:text-lg xl:text-xl;
}

button {
  @apply text-lg sm:text-xl lg:text-lg xl:text-xl;
}