// Colors
@import "../../assets/sass/variables/colors/colors.scss";

.container {
  background: #f0f0f0;
  border-radius: 10px;
  transition: all 0.5s;
  position: relative;

  width: 280px;
  height: 240px;

  @apply shadow-lg;

  &:hover {
    background-color: $secondary-color;
  }
}

.blob {
  height: 10px;
  position: absolute;
  top: 0;
  left: 10%;
  right: 10%;

  border-radius: 0 0 30px 30px;
  background-color: $secondary-color;
  transition: all 0.3s;

  .container:hover > & {
    height: 0;
  }
}

.c_logo {
  width: 110px;
  height: 100px;
  margin: 45px auto 20px;

  background-color: $secondary-color;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  .container:hover > & {
    display: none;
  }

  img {
    width: 75px;
  }
}

.c_mainImg {
  display: none;
  width: 0;
  transition: all ease 0.3s;

  .container:hover > & {
    display: block;
    height: 70%;
  }

  > img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  :nth-child(2n) {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
  }
}

.title {
  text-align: center;
  font-weight: 600;
  color: $secondary-color;
  @apply uppercase;

  .container:hover > & {
    display: none;
  }
}

.c_icons {
  display: none;
  height: 30%;
  
  .container:hover > & {
    @apply flex justify-center items-center gap-2;
  }
  
  svg {
    padding: 5px;
    cursor: pointer;
  }
}
