// Colors
@import "../../assets/sass/variables/colors/colors.scss";

header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 70px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 99;

  .c_logo {
    @apply flex items-center gap-2;

    img {
      @apply h-12 pt-2 md:h-8 md:pt-0;
    }

    span {
      color: white;
      @apply hidden md:block;
    }
  }

  .c_menu {
    @apply fixed top-14 right-0
    rounded-l-lg p-2;
    background: #052131e5;

    transition: all ease-in-out .3s;
  }
}
