.c-skill-card {
  border: 3px solid $primary-color;
  max-width: 250px;
  @apply items-center
  rounded-lg sm:max-w-sm
  cursor-pointer;

  svg {
    @apply w-12 h-12;
  }

  .separator::before {
    content: "";
    height: 4px;
    width: 3rem;
    @apply sm:w-1 sm:h-12 rounded-md;
    display: block;

    background-color: $primary-color;
  }
}
