// TailwindCSS framework
@tailwind base;
@tailwind components;
@tailwind utilities;
// Fonts
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
// Colors
@import "./assets/sass/variables/colors/colors.scss";
// Typography
@import "./assets/sass/typography/typography.scss";
// Common
@import "./assets/sass/variables/common/common.scss";
// Layout
@import "./assets/sass/layout.scss";
// Components
@import "./assets/sass/Button.scss";
@import "./assets/sass/Form.scss";
@import "./assets/sass/Header.scss";
@import "./assets/sass/ProjectCard.scss";

body {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.1rem;
  color: white;

  ::selection {
    color: white;
    background-color: $primary-color;
  }

  // scrollbar
  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background: $secondary-color;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 1.2rem;
    border: 4px solid $secondary-color;
  }
}

// Welcome
#s-welcome {
  background: $secondary-bg;

  :first-child {
    @apply flex flex-col items-center justify-center gap-6;

    > div {
      @apply flex flex-col gap-1 items-center lg:items-start;

      h3 {
        @include animationText(0.2s, scaleUpMedium);
      }
      h1 {
        @include animationText(2.2s, scaleUpSmall);
      }
      h2 {
        @include animationText(4s, scaleUpMedium);
      }
    }

    button {
      max-width: fit-content;
      @include animation(show, 1.5s, ease, 6s, forwards);
      opacity: 0;
      @apply lg:py-3 px-5
      text-lg sm:text-xl;
    }
  }

  > img {
    @apply hidden lg:block;
    filter: drop-shadow(0 5px 6rem $primary-color-darker);
    max-height: 550px;
  }
}

// About me
#s-aboutMe {
  background: $secondary-bg;
  box-shadow: inset 5px 5px 20px 3px $shadow-dark;

  .box {
    @apply w-64 lg:w-80
    h-64 lg:h-80
    flex justify-center items-center;
    border-radius: 0.6rem;
    background: linear-gradient(88deg, $primary-color-dark 20%, $primary-color-darker 80%);
    box-shadow: 11px 11px 22px #041a26, -11px -11px 22px #041824;

    img {
      width: 60%;
    }
  }

  .c_aboutMe {
    @apply md:justify-self-start;

    h1 {
      margin-bottom: 1.5rem;
      padding-left: 0.5rem;

      &::after {
        content: "";
        background-color: $primary-color;
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 0.4rem;
        margin-top: 0.5rem;
      }
    }

    p {
      max-width: 650px;
      text-align: justify;
      color: $white-text;
    }
  }
}

// Projects
#s-projects {
  background: $primary-bg;

  h1 {
    color: white;
    margin: 0 auto;
    z-index: 2;
    width: fit-content;

    &::after {
      content: "";
      background-color: $secondary-color;
      position: absolute;
      display: block;
      width: 50px;
      height: 0.3rem;
      margin-top: -0.5rem;
      z-index: -1;
    }
  }

  .c_projects_cards {
    @apply flex flex-col lg:flex-row flex-wrap items-center justify-evenly
    gap-10;
  }
}

// Skills
#s-skills {
  background: $secondary-bg;
  box-shadow: inset 5px 5px 10px 3px $shadow;

  h1 {
    color: white;
    margin: 0 auto;
    z-index: 2;
    width: fit-content;

    &::after {
      content: "";
      background-color: $primary-color;
      position: absolute;
      display: block;
      width: 50px;
      height: 0.3rem;
      margin-top: -0.5rem;
      z-index: -1;
    }
  }
}

// Contact me
#s-contact-me {
  background: $primary-bg;
  box-shadow: inset 5px 5px 20px 3px $shadow-dark;

  h1 {
    color: white;
    margin: 0 auto;
    z-index: 2;
    width: fit-content;

    &::after {
      content: "";
      background-color: $secondary-color;
      position: absolute;
      display: block;
      width: 50px;
      height: 0.3rem;
      margin-top: -0.5rem;
      z-index: -1;
    }
  }
}

// Footer
footer {
  background-color: $secondary-color;

  > div {
    @apply flex flex-col items-center gap-1 sm:flex-row sm:justify-around;

    div {
      @apply flex items-center gap-2;

      img {
        height: 26px;
      }
    }
  }

  a {
    transition: all ease 0.4s;

    &::after {
      content: "";
      background-color: $primary-color;
      position: relative;
      display: block;
      width: 10%;
      height: 0.2rem;
      transition: all ease 0.4s;
    }

    &:hover {
      color: $primary-color;
      &::after {
        width: 100%;
      }
    }
  }
}
