// TailwindCSS
@tailwind base;
@tailwind components;
@tailwind utilities;
// Fonts
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
// Colors
@import "./assets/sass/variables/colors/colors.scss";
// Typography
@import "./assets/sass/variables/typography/typography.scss";
// Commons
@import "./assets/sass/variables/common/mixins.scss";
@import "./assets/sass/variables/common/keyframes.scss";

body {
  user-select: none;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.1rem;
  color: white;

  ::selection {
    color: white;
    background-color: $primary-color;
  }
}

#s_welcome,
#s_aboutMe,
#s_projects {
  @apply px-9 md:px-16 lg:px-20;
}
// Welcome
#s_welcome {
  align-content: center;
  justify-items: center;
  position: relative;
  @apply grid grid-cols-1 lg:grid-cols-2;

  height: 100vh;
  background: $secondary-bg;
}
.c_whoIAm {
  @apply flex flex-col items-center gap-6;

  .c_text {
    @apply flex flex-col gap-1 items-center lg:items-start;

    .item_1 {
      @include animationText(0.2s, scaleUpH3);
    }
    .item_2 {
      @include animationText(2.2s, scaleUpH1);
    }
    .item_3 {
      @include animationText(4s, scaleUpH2);
    }
  }

  button {
    max-width: fit-content;
    font-size: 1rem;
  }
}
// About me
#s_aboutMe {
  background: $secondary-bg;
  box-shadow: inset 5px 5px 20px 3px $shadow-dark;

  @apply grid grid-cols-1 md:grid-cols-2 items-center justify-items-center
  gap-12 md:gap-10 lg:gap-0
  py-20 lg:py-32;

  user-select: text;

  .box {
    @apply w-64 lg:w-80
    h-64 lg:h-80
    flex justify-center items-center;
    border-radius: 0.6rem;
    background: linear-gradient(88deg, $primary-color-dark 20%, $primary-color-darker 80%);
    box-shadow: 11px 11px 22px #041a26, -11px -11px 22px #041824;

    img {
      width: 60%;
    }
  }

  .c_aboutMe {
    @apply md:justify-self-start;

    h1 {
      margin-bottom: 1.5rem;
      padding-left: 0.5rem;

      &::after {
        content: "";
        background-color: $primary-color;
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 0.4rem;
        margin-top: 0.5rem;
      }
    }
    p {
      max-width: 500px;
      text-align: justify;
      @apply text-base lg:text-lg;
      color: $white-text;
    }
  }
}
// Projects
#s_projects {
  background: $primary-bg;
  @apply pt-20 pb-32 flex flex-col gap-16;

  h1 {
    color: white;
    text-align: center;
  }

  .c_projects_cards {
    @apply flex flex-col lg:flex-row items-center justify-evenly
    gap-10;

    .card {
      min-width: 280px;
      max-width: 500px;
      min-height: 240px;
      max-height: 240px;
    }
  }
}
// Footer
footer {
  background-color: $secondary-color;
  @apply p-8;
}