// Colors
@import "./variables/colors/colors.scss";

header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 70px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 99;

  .c_logo {
    @apply flex items-center gap-2;

    img {
      @apply h-8 md:h-9;
    }

    color: white;
  }

  .c_menu {
    @apply fixed top-14 right-0
    rounded-l-lg p-2;
    background: #052131e5;

    transition: all ease-in-out .3s;
  }
}
