header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  box-shadow: 0 0 12px 5px var(--shadow);

  background: linear-gradient(70deg, #7e1a35, var(--red));
  @media (min-width: 760px) {
    & {
      background: linear-gradient(70deg, #671b34, var(--red));
    }
  }

  height: 70px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 99;

  .l_logo {
    color: white;
  }

  nav {
    ul {
      display: flex;
      gap: 1rem;
      list-style: none;
    }
  }
}