@import "./variables/colors/colors.scss";

header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  box-shadow: 0 0 12px 5px var(--shadow);

  background: linear-gradient(70deg, #7e1a35, $primary-color);
  @media (min-width: 760px) {
    & {
      background: linear-gradient(70deg, #671b34, $primary-color);
    }
  }

  height: 70px;
  min-height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;

  .c_logo {
    color: white;
  }

  .c_menu_sm {
    background: #052131e5;
  }
}
