@import "./variables/colors/colors.scss";

@import "./variables/typography/headings.scss";

@keyframes scaleUpH1 {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scaleUpH2 {
  from {
    transform: scale(1.3);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scaleUpH3 {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

#s_welcome,
#s_aboutMe {
  @apply px-9 md:px-16 lg:px-32;
}

#s_welcome {
  align-content: center;
  justify-items: center;
  position: relative;
  @apply md:grid-cols-2 
  gap-4;

  background: linear-gradient(70deg, #412130, $primary-color);
}

#s_aboutMe {
  background: $secondary-color;
  box-shadow: inset 5px 5px 20px 3px var(--shadow-dark);
  align-content: center;
  justify-items: center;
  position: relative;
  @apply md:grid-cols-2
  gap-12;
  user-select: text;

  .box {
    @apply w-64 lg:w-80
    h-64 lg:h-80;
    border-radius: 0.6rem;
    background: linear-gradient(88deg, $primary-color-dark 20%, $primary-color-darker 80%);
    box-shadow: 11px 11px 22px #041a26, -11px -11px 22px #041824;
  }

  .aboutMe {
    @apply md:justify-self-start;

    h2 {
      color: white;
      @apply text-3xl lg:text-4xl
      uppercase;
      text-decoration: underline 0.3rem $primary-color;
      margin-bottom: 1rem;
    }
    p {
      max-width: 500px;
      text-align: justify;
      @apply text-base lg:text-lg;
      color: $white-text;
    }
  }
}

$timing-function: cubic-bezier(0.86, 0.03, 0.09, 0.95);

@mixin animationText($delay, $name) {
  animation: 2s $timing-function $delay 2 both alternate-reverse $name;
}

.c_whoIAm {
  @apply flex flex-col items-center gap-6;

  .c_text {
    @apply text-white text-center;

    .item_1 {
      font-size: $h3;
      @include animationText(0.2s, scaleUpH3);
    }
    .item_2 {
      font-size: $h1;
      line-height: 2.6rem;
      @include animationText(2.2s, scaleUpH1);
    }
    .item_3 {
      font-size: $h2;
      @include animationText(4s, scaleUpH2);
    }
  }
  
  button {
    max-width: fit-content;
  }
}
