.l_welcome {
  align-content: center;
  justify-items: center;
  position: relative;
  @apply md:grid-cols-2 gap-4;

  background: linear-gradient(70deg, #33242b, var(--red));

  .welcome {
    @apply text-2xl md:text-4xl lg:text-5xl
    text-white text-center;

    span {
      display: block;
    }

    .item_3 {
      @apply text-base lg:text-xl;
    }
  }
}

.l_aboutMe {
  background: var(--blue-dark);
  box-shadow: inset 5px 5px 20px 3px var(--shadow-dark);
  align-content: center;
  justify-items: center;
  position: relative;
  @apply md:grid-cols-2
  gap-12
  px-9 md:px-16 lg:px-32;

  .box {
    @apply w-64 lg:w-80
    h-64 lg:h-80;
    border-radius: 9px;
    background: linear-gradient(88deg, var(--red-dark) 20%, var(--red-darker) 80%);
    box-shadow: 11px 11px 22px #041a26, -11px -11px 22px #06283c;
  }

  .aboutMe {
    h2 {
      color: white;
      text-decoration: underline 0.3rem var(--red);
      margin-bottom: 1rem;
    }
    p {
      max-width: 500px;
      text-align: justify;
    }
  }
}