@import "./colors/colors.scss";

@keyframes animationText {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

.s_welcome,
.s_aboutMe {
  @apply px-9 md:px-16 lg:px-32;
}

// sections
.s_welcome {
  --animacao-text: cubic-bezier(0.86, 0.03, 0.09, 0.95);

  align-content: center;
  justify-items: center;
  position: relative;
  @apply md:grid-cols-2 
  gap-4;

  background: linear-gradient(70deg, #412130, $primary-color);
}

.s_aboutMe {
  background: $secondary-color;
  box-shadow: inset 5px 5px 20px 3px var(--shadow-dark);
  align-content: center;
  justify-items: center;
  position: relative;
  @apply md:grid-cols-2
  gap-12;
  user-select: text;

  .box {
    @apply w-64 lg:w-80
    h-64 lg:h-80;
    border-radius: 0.6rem;
    background: linear-gradient(88deg, $primary-color-dark 20%, $primary-color-darker 80%);
    box-shadow: 11px 11px 22px #041a26, -11px -11px 22px #06283c;
  }

  .aboutMe {
    @apply md:justify-self-start;

    h2 {
      color: white;
      @apply text-3xl lg:text-4xl
      uppercase;
      text-decoration: underline 0.3rem $primary-color;
      margin-bottom: 1rem;
    }
    p {
      max-width: 500px;
      text-align: justify;
      @apply text-base lg:text-lg;
      color: $white-text;
    }
  }
}

// containers
.c_knowMe {
  @apply flex flex-col justify-center gap-6;

  .text {
    @apply text-white text-center;

    * {
      display: block;
    }
    .item_1,
    .item_2 {
      @apply md:text-4xl;
    }
    .item_1 {
      font-size: 2.25rem /* 36px */;
      line-height: 1;
      animation: 2s var(--animacao-text) 0.2s 2 both alternate-reverse animationText;
    }
    .item_2 {
      font-size: 1.5rem;
      line-height: 1;
      animation: 2s var(--animacao-text) 2.2s 2 both alternate-reverse animationText;
    }
    .item_3 {
      animation: 2s var(--animacao-text) 4s 2 both alternate-reverse animationText;
      @apply text-base lg:text-xl;
    }

    .c_btn {
    }
  }
}
