#s-welcome,
#s-aboutMe,
#s-projects,
#s-skills,
#s-contact-me,
footer {
  @apply px-9 md:px-16 lg:px-20;
}

#s-welcome {
  align-content: center;
  justify-items: center;
  position: relative;
  @apply grid grid-cols-1 lg:grid-cols-2
    gap-4;
  height: 100vh;
}

#s-aboutMe {
  @apply grid grid-cols-1 md:grid-cols-2 items-center justify-items-center
  pt-20 pb-32;
}

#s-projects {
  @apply pt-20 pb-32;
}

#s-skills {
  @apply pt-20 pb-32;
}

#s-contact-me {
  @apply pt-20 pb-32;
}
