// Colors
@import "./variables/colors/colors.scss";

.s_projects {
  width: 100%;
  background-color: $secondary-color;
  padding-top: 3rem;
}

.projects_cards {
  width: 100%;
  align-content: center;
  justify-items: center;
  position: relative;
  @apply grid grid-cols-1 md:grid-cols-3 gap-4;
}
